@model IEnumerable<Employee>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Department</th>
                <th>Location</th>
                </tr>
        </thead>
        <tbody>
            @{
            @foreach (var m in Model)
            {
                <tr>
                <td>@m.Id</td>
                <td>@m.Name</td>
                <td>@m.Salary</td>
                <td>@m.Department.Name</td>
                <td>@m.Department.Location</td>
                </tr>

            }
        }

        </tbody>
    </table>

